<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Coding Challenge</title>
	<!-- Bootstrap CSS -->
	<link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<!-- Require order file  -->
	<script src="orders.json"></script>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 class="page-header text-center">Coding Challenge</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="orders well">
					<h1 class="text-center page-header">Orders (Part 1)</h1>
				</div>
			</div>
			<div class="col-md-6">
				<div class="well distributions">
					<h1 class="text-center page-header">Distributions (Part 2)</h1>	
				</div>
			</div>
		</div>
	</div>
	<!-- jquery -->
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
	<!-- handlebars js -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.3/handlebars.min.js"></script>
	<!-- custom js -->
	<script type="text/javascript" src="main.js"></script>
</body>
</html>